{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "strict": 0,
    "comma-dangle": 0,
    "no-useless-constructor": "warn",
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off",
    "import/prefer-default-export": "warn",
    "import/no-named-as-default": "warn",
    "import/no-named-as-default-member": "warn",
    "no-unused-vars": "warn",
    "react/forbid-prop-types": "warn",
    "react/no-did-mount-set-state": "warn",
    "no-restricted-syntax": "warn",
    "no-underscore-dangle": "warn",
    "react/no-multi-comp": "warn"
  },
  "globals": {
    "fetch": false
  }
}
